.license {
  border-bottom: 0.004rem solid var(--color_grey-4);
  border-top: 0.004rem solid var(--color_grey-4);
  padding: calc(var(--space)*4) 0 0;
  margin: 0 0 calc(var(--space)*4) 0;
  h2 {
    font-size: var(--font-size_m);
    margin-top: 0; 
  }
  p {
    font-size: var(--font-size_xs);
    line-height: calc(var(--barespace)*1.8);
    margin: 0 0 var(--space);
    &:last-child {
      margin-bottom: 0;
    }
    span {
      font-family: var(--font_500);
    }
  }
  pre, code {
    font-family: var(--font_300mono);
    font-size: var(--font-size_xxxs);
    margin: 0 0 var(--space);
  }
}
.author + .license {
    border-top: none;
    padding: 0 0 calc(var(--space)*4) 0;
    margin: 0 0 calc(var(--space)*4) 0;
}
